* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app__left {
  flex: 0.9;
}
body {
  background-color: #f5f6fa;
}

.app__header {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.infoBox__cases {
  font-weight: 500;
}

@media (max-width: 992px) {
  .app {
    flex-direction: column;
  }
}
